@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif:700);

// ---- Scaffolding ----
//$bodyBackground: ;
//$textColor: ;

// ---- Links ----
//$linkColor: ;
//$linkColorHover: ;

// ---- Colors ----
//$blue: ;
//$green: ;
//$red: ;
//$yellow: ;
//$orange: ;
//$pink: ;
//$purple: ;

// ---- Sprites ----
//$iconSpritePath: ;
//$iconWhiteSpritePath: ;

// ---- Grid system ----
//$gridColumns: ;
//$gridColumnWidth: ;
//$gridGutterWidth: ;
//$gridColumnWidth1200: ;
//$gridGutterWidth1200: ;
//$gridColumnWidth768: ;
//$gridGutterWidth768: ;

// ---- Typography ----
//$sansFontFamily: 
$serifFontFamily: 'Noto Sans', sans-serif;
//$monoFontFamily: ;
//$baseFontSize: ;
$baseFontFamily:  'Noto Sans', sans-serif;
//$baseLineHeight: ;
//$altFontFamily: ;
$headingsFontFamily: 'Noto Serif', serif;
//$headingsFontWeight: ;
//$headingsColor: ;
//$fontSizeLarge: ;
//$fontSizeSmall: ;
//$fontSizeMini: ;
//$paddingLarge: ;
//$paddingSmall: ;
//$paddingMini: ;
$baseBorderRadius: 0;
$borderRadiusLarge: 0;
$borderRadiusSmall: 0;
//$heroUnitBackground: ;
//$heroUnitHeadingColor: ;
//$heroUnitLeadColor: ;

// ---- Tables ----
//$tableBackground: ;
//$tableBackgroundAccent: ;
//$tableBackgroundHover: ;
//$tableBorder: ;

// ---- Forms ----
//$placeholderText: ;
//$inputBackground: ;
//$inputBorder: ;
//$inputBorderRadius: ;
//$inputDisabledBackground: ;
//$formActionsBackground: ;
//$btnPrimaryBackground: ;
//$btnPrimaryBackgroundHighlight: ;

// ---- Form states & alerts ----
//$warningText: ;
//$warningBackground: ;
//$errorText: ;
//$errorBackground: ;
//$successText: ;
//$successBackground: ;
//$infoText: ;
//$infoBackground: ;

// ---- Navbar ----
//$navbarHeight: ;
//$navbarBackground: ;
//$navbarBackgroundHighlight: ;
//$navbarText: ;
//$navbarBrandColor: ;
//$navbarLinkColor: ;
//$navbarLinkColorHover: ;
//$navbarLinkColorActive: ;
//$navbarLinkBackgroundHover: ;
//$navbarLinkBackgroundActive: ;
//$navbarSearchBackground: ;
//$navbarSearchBackgroundFocus: ;
//$navbarSearchBorder: ;
//$navbarSearchPlaceholderColor: ;
//$navbarCollapseWidth: ;
//$navbarCollapseDesktopWidth: ;

// ---- Dropdowns ----
//$dropdownBackground: ;
//$dropdownBorder: ;
//$dropdownLinkColor: ;
//$dropdownLinkColorHover: ;
//$dropdownLinkBackgroundHover: ;
